{# This template can be used to display a form to enter a review.#}
<script src="scripts/form.js"></script>
<section id="reviews">
  <article class="review_input_form">
  {# To be able to send any file, we must set the encoding type to
     multipart/form-data #}
  <form action="/save-review" method="post" enctype="multipart/form-data">
    <label for="review_place_name">Name</label>
    <input id="review_place_name" type="text" name="place_name">
    <label for="review_description`">Review:</label>
    <textarea id="review_description" name="description"></textarea>
    <select name="category">
      <option value="restaurant">Restaurant</option>
      <option value="bar">Bar</option>
      <option value="coffe">Coffe Place</option>
    </select>
    <label for="review_img">Image</label>
    <input id="review_place_name" type="file" name="review_img">
    <div id="amenities_list">
      <label for="amenity-wifi">WiFi</label>
      <input type="checkbox" id="amenity-wifi" name="amenity-WiFi"></input>
      <label for="amenity-heating">Heating</label>
      <input type="checkbox" id="amenity-heating" name="amenity-Heating"></input>
      <label for="amenity-bathroom">Bathroom</label>
      <input type="checkbox" id="amenity-bathroom" name="amenity-Bathroom"></input>
    </div>
    <input type="submit" id="form_submit">
  </form>
  <article>
</section>
